@font-face {
	font-family: 'Freeride';
	src: url(../../assets/fonts/Freeride.woff2) format('woff2'),
	url(../../assets/fonts/Freeride.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}